:root {
  --primary-color: #ebebeb;
  --secondary-color: #303030;
  --tertiary-color: lightblue;
  --quaternary-color: #f1f1f1;
  --danger-color: rgb(255, 78, 107);
  --danger-color-secondary: rgb(248, 34, 27)
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}